body {
    background-color: royalblue;
}

.frame {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.calculator-title {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

